[submodule "engine/third_party/vk-bootstrap"]
	path = engine/third_party/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "editor/third_party/imgui"]
	path = editor/third_party/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "editor/third_party/ImGuizmo"]
	path = editor/third_party/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "engine/third_party/volk"]
	path = engine/third_party/volk
	url = https://github.com/zeux/volk.git
[submodule "engine/third_party/SPIRV-Cross"]
	path = engine/third_party/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "editor/third_party/IconFontCppHeaders"]
	path = editor/third_party/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
